.container {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 20px;
  padding: 20px;
}

.about-section img {
  max-width: 250px;
  height: auto;
  gap: 20px;
  padding: 0px;
}

.about-section h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.about-section p {
  font-size: 1rem;
  line-height: 1.8;
}


.sec2 {
  background-color: #f9f9f9;
  padding: 50px 0;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.card .item {
  flex: 1 1 200px;
  max-width: 150px;
}

.card .item img {
  max-width: 100%;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card .item h2 {
  font-size: 1.2rem;
  margin-top: 10px;
  color: #555;
}

.card h1 {
  margin-top: 10px;
  color: #555;
}

.main {
  margin-top: 30px;
}


@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    text-align: center;
  }

  .about-section h1 {
    font-size: 2rem;
  }

  .card .item {
    flex-basis: calc(50% - 20px);
  }
}