/* /* header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 40px;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.header-buttons button {
  padding: 10px;
  background-color: chocolate;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 50px;
  height: 40px;
}

.header-buttons button:hover {
  background-color: rgb(171, 83, 20);
} */

.section {
  padding: 20px;
  background-color: #fff;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section h2 {
  margin-bottom: 10px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));

  gap: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  width: 300px;
  height: 190px;
  transition: transform 0.3s ease;
}

.card img:hover {
  transform: scale(1.05);
}

.card-content {
  padding: 15px;
}

.card-content h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.card-content p {
  margin: 0;
  color: #666;
}

.card-content button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: chocolate;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-content button:hover {
  background-color: rgb(171, 83, 20);
} 